html {
    background: rgb(145, 145, 145);
}
header {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background: blue;
    margin-bottom: 7px;
    font-size: 1.7rem;
}
h1 {
    font-size: 2.0rem;
    position: absolute;
    top: -10px;
    left: 100px;
}