/*Aufgabe: Aufgabe2
Name: Dennis Vimon
Matrikel: 
Datum: 04.04.2019
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/

.roteKarte {
    background-color: red;
}

.schwarzeKarte {
    color: white;
    background-color: black;
}

.kartenform {
    width: 160px;
    height: 260px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    display:inline-block;
}


#spielfeld {
    width: 1200px;
    height: 600px;
    background-color: whitesmoke;
}

#deck {
    border: 4px solid blue;
   margin: 10px;
    width: 160px;
    height: 250px;
    float: left;
}

#ablage {
    border: 3px solid blue;
    margin: 10px;
    width: 100px;
    height: 200px;
    float: left;
}